node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.log
.env.local
.env.*.local
.DS_Store
__MACOSX/
build/
.android/
.ios/
*.apk
*.ipa
coverage/
.nyc_output/
.vscode/
.idea/
*.swp
*.swo
*~
